{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-9 col-12 mx-auto">
        <div class="card card-body mt-4">
          <h2 class="mb-0">Add Kode Akun</h6>
            <br>

          <form method="POST" class="container">
            {% csrf_token %}
            <div class="row">
              {% for field in form %}
              <div class="form-group row">
                <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label">{{ field.label }}</label>
                <div class="col-sm-4">
                  {{ field }}
                </div>
              </div>
              {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url 'lapkeuangan:kode_akun_list' %}" class="btn btn-secondary">Cancel</a>
          </form>

          <hr class="horizontal dark my-3">
         

        </div>



      </div>
    </div>

    {% include 'includes/footer.html' %}
    
  </div>

{% endblock content %}

{% block extra_js %}

  <script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/quill.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/dropzone.min.js' %}"></script>
  <script>
    if (document.getElementById('editor')) {
      var quill = new Quill('#editor', {
        theme: 'snow' // Specify theme in configuration
      });
    }

    if (document.getElementById('choices-multiple-remove-button')) {
      var element = document.getElementById('choices-multiple-remove-button');
      const example = new Choices(element, {
        removeItemButton: true
      });

      example.setChoices(
        [{
            value: 'One',
            label: 'Label One',
            disabled: true
          },
          {
            value: 'Two',
            label: 'Label Two',
            selected: true
          },
          {
            value: 'Three',
            label: 'Label Three'
          },
        ],
        'value',
        'label',
        false,
      );
    }

    if (document.querySelector('.datetimepicker')) {
      flatpickr('.datetimepicker', {
        allowInput: true
      }); // flatpickr
    }

    Dropzone.autoDiscover = false;
    var drop = document.getElementById('dropzone')
    var myDropzone = new Dropzone(drop, {
      url: "/file/post",
      addRemoveLinks: true

    });
  </script>

{% endblock extra_js %}