{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-9 col-12 mx-auto">
        <div class="card card-body mt-4">
          <h6 class="mb-0">Neraca View</h6>
          <p class="text-sm mb-0">This is neraca view</p>
          <hr class="horizontal dark my-3">
          
          
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/footer.html' %}

{% endblock content %}

{% block extra_js %}

  <script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>

{% endblock extra_js %}